<!DOCTYPE html>
<html lang="es">
<head>
    <title>Solarbox - {{id}}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta content="15" http-equiv="refresh"/>
</head>
 
<body>
    <header>
       <h1 class="text-4xl"><a href="{{ url_for('devices') }}">Solarbox</a></h1>
       <p>Device <strong>{{id}} ({{ moment }})</strong></p>
       <ul class="list-inside">
       {% for k, v in data.items() -%}
       <li>{{k}}: {{v[0][1]}}</li>
       {% endfor %}
    </header>
</body>
</html>