<!DOCTYPE html>
<html lang="es">
<head>
    <title>Solarbox - devices</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/default.css">
    <meta charset="utf-8" />
    <meta content="15" http-equiv="refresh"/>
</head>
 
<body class="bg-gray-300">
       <h1 class="text-4xl p-4">Solarbox</h1>
       {% for k, v in data.items() -%}
       <h1 class="text-2xl p-4 font-bold">{{ k }}</h1>
       {% for kdev, vdev in v.items() -%}
        <div class="bg-gray-300 justify-center items-center m-12">
        <div class="bg-white p-10 rounded-lg shadow-md">
          <h1 class="text-gl font-bold">{{ vdev.name }}</h1>
          <h2 class="text-xs">{{ vdev.since }}</h2>
          <!--
          <div class="mt-4 mb-10">
            <p class="text-gray-600">Load 75% completed</p>
            <div class="bg-gray-400 w-64 h-3 rounded-lg mt-2 overflow-hidden">
              <div class="bg-green-400 w-3/4 h-full rounded-lg shadow-md"></div>
            </div>
          </div>
          -->
          <a href="{{ url_for('device', id=kdev) }}"><button class="bg-blue-400 py-3 px-8 mt-4 rounded text-sm font-semibold hover:bg-opacity-75">Go to data</button></a>

          <!-- Toggle B -->
          <div class="flex items-center justify-center w-full mb-12">
            
            <label for="toggleB" class="flex items-center cursor-pointer">
              <!-- toggle -->
              <div class="relative">
                <!-- input -->
                <input type="checkbox" id="toggleB" class="sr-only">
                <!-- line -->
                <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                <!-- dot -->
                <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
              </div>
              <!-- label -->
              <div class="ml-3 text-gray-700 font-medium">
                Toggle Me!
              </div>
            </label>

          </div>
          <!--
          <label for="toggle" class="text-xs text-gray-700">Toggle me.</label>
          -->
                    </div>
        </div>
        {% endfor %}
       {% endfor %}
</body>
</html>
